#mainBody{
    #feed-box{
        #feed-loader{
            position: static;
        }

        #feed-header{
            font-size: 200%;
            color: rgba(85, 84, 84, 1);
            padding: 3% 3% 1% 3%;
        }

        #feed-content{
            .report{
                margin-left: 10%;
                .report-image{
                    width: 60%;
                    height: 50%;
                }
                .report-description{
                    font-size: 130%;
                }
                .report-seperator{
                    width: 90%;
                    margin-left: -5%;
                }
                .report-last-seenTime, .report-last-seenLocation{
                    font-size: 130%;
                }
            }

        }
    }

    #column-seperator{
        border-left: 1px solid rgba(43, 42, 42, 0.2);
    }

    #createReport-box{
        .reportBox-btn{
            
            position: fixed;
        }
       
    }
}