@import 'colors';


#header{
    box-shadow: 1px 0.3px 3px rgb(95, 94, 94);
    #headerMain{
        #mainLogo{
            padding: 5px;
            width: 47%;
            height: 65%;
        }
    
        #headerTitle{
            color: $navyBlue;
            font-size: larger;
            font-weight: bold;
            letter-spacing: 2px;
            margin-left: 5%;
        }
    
        #input-search{
            width: 90%;
            height: 135%;
        }
    
        #search-btn{
            height: 130%;
            margin-left: -30%;
        }
    }
    
   
    .navLink{
        border-right: 2px solid white;
        text-align: center;
        padding: 20px;
        font-size: 120%;
        margin-left: 5%;
        &:hover{
            cursor: pointer;
        }
        
    }


}
