

#mainBody{
    #report-created-alert{
        position: fixed;
        padding: 2% 10% 2% 10%;
    }

    #report-form{
        margin: 5%;
    }

    #report-submit{
        margin-left: 10%;
    }
}