@import 'colors';

body{
    background-color: $saffron;
}

#mainBody{

    #logoArt{
        width: 110%;
        height: 90%;
    }


    #signupForm{
        background-color: rgba($color: $saffron, $alpha: 0.5);
        border: 1px $saffron;

        input{
            border-radius: 10px 10px;
        }

        label{
            color: white;
            font-size: larger;
            margin-left: 10px;
        }

        #signUpLabel{
            font-size: larger;
        }

        #loginLink, #signUpLink{
            font-size: larger;
            &:hover{
                cursor: pointer;
            }
        }

        #userType{
            margin-left: 20px;
        }
    }


    #signUp_button, #signIn_button{
        background-color: $navyBlue;
        border: 1px $navyBlue;
    }

}
